USE [master]
GO
/****** Object:  Database [tarea_programada_1_db]    Script Date: 4/6/2020 01:21:57 ******/
CREATE DATABASE [tarea_programada_1_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'tarea_programada_1_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.JRVSERVER\MSSQL\DATA\tarea_programada_1_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'tarea_programada_1_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.JRVSERVER\MSSQL\DATA\tarea_programada_1_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [tarea_programada_1_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [tarea_programada_1_db]
GO
/****** Object:  Table [dbo].[Partes]    Script Date: 4/6/2020 01:21:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nchar](32) NOT NULL,
	[Marca] [nchar](32) NOT NULL,
	[NombreFabricante] [nchar](32) NOT NULL,
	[IdAutomovil] [int] NULL,
 CONSTRAINT [PK_Partes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedores]    Script Date: 4/6/2020 01:21:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nchar](32) NOT NULL,
	[Direccion] [nchar](128) NULL,
	[Ciudad] [nchar](32) NULL,
	[NombreContacto] [nchar](32) NULL,
	[Codigo] [nchar](32) NULL,
 CONSTRAINT [PK_Proveedores] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProveedorPartes]    Script Date: 4/6/2020 01:21:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProveedorPartes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdParte] [int] NOT NULL,
	[IdProveedor] [int] NOT NULL,
	[Precio] [decimal](9, 2) NOT NULL,
	[PorcentajeGanancia] [decimal](9, 2) NOT NULL,
	[PrecioFinal] [decimal](9, 2) NOT NULL,
 CONSTRAINT [PK_ProveedorPartes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ViewProveedorPartes]    Script Date: 4/6/2020 01:21:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[ViewProveedorPartes]
as
select 
	Pp.Id, 
	P.Nombre ,
	P.Marca,
	Pr.Nombre as 'NombreProveedor', 
	Pp.Precio, 
	Pp.PorcentajeGanancia,
	Pp.PrecioFinal
	FROM 
		ProveedorPartes Pp, Partes P, Proveedores Pr
	WHERE 
		Pp.IdProveedor= Pr.Id AND 
		Pp.IdParte = P.Id;
			
GO
/****** Object:  Table [dbo].[Automoviles]    Script Date: 4/6/2020 01:21:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Automoviles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Detalle] [nchar](64) NULL,
	[Anno] [nchar](4) NOT NULL,
	[NombreFabricante] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Automovil] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ViewPartes]    Script Date: 4/6/2020 01:21:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ViewPartes]
AS
SELECT        P.Id, P.Nombre, P.Marca, P.NombreFabricante
FROM            dbo.Partes AS P INNER JOIN
                         dbo.Automoviles AS A ON P.IdAutomovil = A.Id
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 4/6/2020 01:21:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Estado] [nchar](10) NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personas]    Script Date: 4/6/2020 01:21:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personas](
	[Cedula] [nchar](16) NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nchar](64) NOT NULL,
	[Direccion] [nchar](128) NULL,
	[IdCliente] [int] NOT NULL,
 CONSTRAINT [PK_Personas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClienteTelefonos]    Script Date: 4/6/2020 01:21:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClienteTelefonos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Numero] [nchar](12) NOT NULL,
	[IdCliente] [int] NOT NULL,
 CONSTRAINT [PK_ClienteID] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ViewPersonas]    Script Date: 4/6/2020 01:21:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[ViewPersonas] as
SELECT        dbo.Clientes.Estado, p.Cedula, p.Nombre, p.Direccion, ct.Numero
FROM            dbo.Personas AS p INNER JOIN
                         dbo.ClienteTelefonos AS ct ON p.IdCliente = ct.IdCliente INNER JOIN
                         dbo.Clientes ON p.IdCliente = dbo.Clientes.Id AND ct.IdCliente = dbo.Clientes.Id
GO
/****** Object:  Table [dbo].[Organizaciones]    Script Date: 4/6/2020 01:21:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organizaciones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CedulaJuridica] [nchar](16) NOT NULL,
	[Direccion] [nchar](128) NOT NULL,
	[Ciudad] [nchar](32) NULL,
	[Nombre] [nchar](64) NOT NULL,
	[IdCliente] [int] NOT NULL,
 CONSTRAINT [PK_Organizaciones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrganizacionContactos]    Script Date: 4/6/2020 01:21:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrganizacionContactos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdOrganizacion] [int] NOT NULL,
	[Nombre] [nchar](64) NOT NULL,
	[Cargo] [nchar](32) NOT NULL,
 CONSTRAINT [PK_OrganizacionContactos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ViewOrganizaciones]    Script Date: 4/6/2020 01:21:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[ViewOrganizaciones] AS
SELECT        o.CedulaJuridica, o.Nombre, o.Ciudad, o.Direccion, oc.Nombre AS Nombre_Contacto, oc.Cargo AS Cargo_Contacto, dbo.ClienteTelefonos.Numero, c.Estado
FROM            dbo.Organizaciones AS o INNER JOIN
                         dbo.Clientes AS c ON o.IdCliente = c.Id INNER JOIN
                         dbo.ClienteTelefonos ON c.Id = dbo.ClienteTelefonos.IdCliente INNER JOIN
                         dbo.OrganizacionContactos AS oc ON oc.IdOrganizacion = o.Id
GO
/****** Object:  Table [dbo].[DATA_Estados_Cliente]    Script Date: 4/6/2020 01:21:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATA_Estados_Cliente](
	[estado] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DATA_Fabricantes]    Script Date: 4/6/2020 01:21:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATA_Fabricantes](
	[fabricante] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DATA_Fabricantes_Partes]    Script Date: 4/6/2020 01:21:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATA_Fabricantes_Partes](
	[fabricanteParte] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DATA_Marcas_Partes]    Script Date: 4/6/2020 01:21:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATA_Marcas_Partes](
	[marcaParte] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DATA_Proveedores]    Script Date: 4/6/2020 01:21:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATA_Proveedores](
	[nombre] [nvarchar](50) NOT NULL,
	[direccion] [nvarchar](50) NOT NULL,
	[ciudad] [nvarchar](50) NOT NULL,
	[contacto] [nvarchar](50) NOT NULL,
	[telefono] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DATA_Tipos_Automoviles]    Script Date: 4/6/2020 01:21:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATA_Tipos_Automoviles](
	[fabricante] [nvarchar](50) NOT NULL,
	[modelo] [nvarchar](50) NOT NULL,
	[a_o] [int] NOT NULL,
	[detalle] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrdenDetalles]    Script Date: 4/6/2020 01:21:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdenDetalles](
	[Cantidad] [int] NOT NULL,
	[IdOrden] [int] NOT NULL,
	[MontoVenta] [decimal](10, 2) NOT NULL,
	[PrecioCobrado] [decimal](10, 2) NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdProveedorParte] [int] NULL,
 CONSTRAINT [PK_OrdenDetalles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ordenes]    Script Date: 4/6/2020 01:21:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ordenes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FechaEmitida] [datetime] NOT NULL,
	[MontoVenta] [decimal](9, 2) NOT NULL,
	[MontoIva] [decimal](9, 2) NOT NULL,
	[MontoCobrado] [decimal](9, 2) NOT NULL,
	[IdCliente] [int] NOT NULL,
	[NumeroConsecutivo] [int] NULL,
 CONSTRAINT [PK_Ordenes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProveedorTelefonos]    Script Date: 4/6/2020 01:21:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProveedorTelefonos](
	[Id] [int] NOT NULL,
	[Numero] [nchar](12) NOT NULL,
	[IdProveedor] [int] NOT NULL,
 CONSTRAINT [PK_ProveedorTelefonos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Automoviles] ON 

INSERT [dbo].[Automoviles] ([Id], [Detalle], [Anno], [NombreFabricante]) VALUES (1, N'5 Series long wheelbase                                         ', N'2011', N'BMW       ')
INSERT [dbo].[Automoviles] ([Id], [Detalle], [Anno], [NombreFabricante]) VALUES (2, N'Sports Activity Coupe                                           ', N'2015', N'BMW       ')
INSERT [dbo].[Automoviles] ([Id], [Detalle], [Anno], [NombreFabricante]) VALUES (3, N'Compact crossover SUV                                           ', N'2012', N'Mazda     ')
GO
SET IDENTITY_INSERT [dbo].[Automoviles] OFF
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([Estado], [Id]) VALUES (N'ACTIVO    ', 1)
INSERT [dbo].[Clientes] ([Estado], [Id]) VALUES (N'ACTIVO    ', 2)
INSERT [dbo].[Clientes] ([Estado], [Id]) VALUES (N'ACTIVO    ', 3)
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[ClienteTelefonos] ON 

INSERT [dbo].[ClienteTelefonos] ([Id], [Numero], [IdCliente]) VALUES (1, N'87829129    ', 2)
INSERT [dbo].[ClienteTelefonos] ([Id], [Numero], [IdCliente]) VALUES (2, N'89086138    ', 3)
SET IDENTITY_INSERT [dbo].[ClienteTelefonos] OFF
GO
INSERT [dbo].[DATA_Estados_Cliente] ([estado]) VALUES (N'ACTIVO')
INSERT [dbo].[DATA_Estados_Cliente] ([estado]) VALUES (N'INACTIVO')
INSERT [dbo].[DATA_Estados_Cliente] ([estado]) VALUES (N'SUSPENDIDO')
GO
INSERT [dbo].[DATA_Fabricantes] ([fabricante]) VALUES (N'Fabricantes')
INSERT [dbo].[DATA_Fabricantes] ([fabricante]) VALUES (N'Toyota')
INSERT [dbo].[DATA_Fabricantes] ([fabricante]) VALUES (N'Nissan')
GO
INSERT [dbo].[DATA_Fabricantes_Partes] ([fabricanteParte]) VALUES (N'Fabricantes de partes')
INSERT [dbo].[DATA_Fabricantes_Partes] ([fabricanteParte]) VALUES (N'International Spare Parts')
INSERT [dbo].[DATA_Fabricantes_Partes] ([fabricanteParte]) VALUES (N'Auto Spare Parts')
GO
INSERT [dbo].[DATA_Marcas_Partes] ([marcaParte]) VALUES (N'Marcas')
INSERT [dbo].[DATA_Marcas_Partes] ([marcaParte]) VALUES (N'Delphi')
INSERT [dbo].[DATA_Marcas_Partes] ([marcaParte]) VALUES (N'Falken')
GO
INSERT [dbo].[DATA_Proveedores] ([nombre], [direccion], [ciudad], [contacto], [telefono]) VALUES (N'Auto Repuestos Jim�nez', N'Pavas', N'San Jos�', N'Sergio Mancilla Alfonso', 65033078)
INSERT [dbo].[DATA_Proveedores] ([nombre], [direccion], [ciudad], [contacto], [telefono]) VALUES (N'Repuestos Z��iga', N'700 m N peaje', N'Naranjo', N'Ruben Mir Mestres', 61840940)
INSERT [dbo].[DATA_Proveedores] ([nombre], [direccion], [ciudad], [contacto], [telefono]) VALUES (N'J y A Autopartes', N'Plaza Ferias', N'Alajuela', N'Marina Paez Melgarejo', 61219649)
GO
INSERT [dbo].[DATA_Tipos_Automoviles] ([fabricante], [modelo], [a_o], [detalle]) VALUES (N'BMW', N'F18', 2011, N'5 Series long wheelbase')
INSERT [dbo].[DATA_Tipos_Automoviles] ([fabricante], [modelo], [a_o], [detalle]) VALUES (N'BMW', N'X6 M', 2015, N'Sports Activity Coupe')
INSERT [dbo].[DATA_Tipos_Automoviles] ([fabricante], [modelo], [a_o], [detalle]) VALUES (N'Mazda', N'CX-5', 2012, N'Compact crossover SUV')
GO
SET IDENTITY_INSERT [dbo].[Ordenes] ON 

INSERT [dbo].[Ordenes] ([Id], [FechaEmitida], [MontoVenta], [MontoIva], [MontoCobrado], [IdCliente], [NumeroConsecutivo]) VALUES (1, CAST(N'2020-06-20T00:17:28.000' AS DateTime), CAST(0.00 AS Decimal(9, 2)), CAST(0.00 AS Decimal(9, 2)), CAST(0.00 AS Decimal(9, 2)), 2, 1)
INSERT [dbo].[Ordenes] ([Id], [FechaEmitida], [MontoVenta], [MontoIva], [MontoCobrado], [IdCliente], [NumeroConsecutivo]) VALUES (2, CAST(N'2020-06-14T00:22:39.000' AS DateTime), CAST(0.00 AS Decimal(9, 2)), CAST(0.00 AS Decimal(9, 2)), CAST(0.00 AS Decimal(9, 2)), 3, 2)
INSERT [dbo].[Ordenes] ([Id], [FechaEmitida], [MontoVenta], [MontoIva], [MontoCobrado], [IdCliente], [NumeroConsecutivo]) VALUES (3, CAST(N'2020-06-06T00:25:25.000' AS DateTime), CAST(0.00 AS Decimal(9, 2)), CAST(0.00 AS Decimal(9, 2)), CAST(0.00 AS Decimal(9, 2)), 3, 3)
SET IDENTITY_INSERT [dbo].[Ordenes] OFF
GO
SET IDENTITY_INSERT [dbo].[OrganizacionContactos] ON 

INSERT [dbo].[OrganizacionContactos] ([Id], [IdOrganizacion], [Nombre], [Cargo]) VALUES (1, 1, N'Horacio                                                         ', N'Rojas                           ')
SET IDENTITY_INSERT [dbo].[OrganizacionContactos] OFF
GO
SET IDENTITY_INSERT [dbo].[Organizaciones] ON 

INSERT [dbo].[Organizaciones] ([Id], [CedulaJuridica], [Direccion], [Ciudad], [Nombre], [IdCliente]) VALUES (1, N'504250370       ', N'Donde yo quiera                                                                                                                 ', N'Fortuna de Bagaces              ', N'Josue S.A.                                                      ', 2)
SET IDENTITY_INSERT [dbo].[Organizaciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Partes] ON 

INSERT [dbo].[Partes] ([Id], [Nombre], [Marca], [NombreFabricante], [IdAutomovil]) VALUES (3, N'Tanque de gasolina              ', N'Suzuki                          ', N'WorldParts                      ', 1)
INSERT [dbo].[Partes] ([Id], [Nombre], [Marca], [NombreFabricante], [IdAutomovil]) VALUES (4, N'Mufla                           ', N'Oil Eyes                        ', N'PIndustry                       ', 9)
INSERT [dbo].[Partes] ([Id], [Nombre], [Marca], [NombreFabricante], [IdAutomovil]) VALUES (5, N'Mufla de Acero                  ', N'AIWA                            ', N'World Car Center                ', 5)
SET IDENTITY_INSERT [dbo].[Partes] OFF
GO
SET IDENTITY_INSERT [dbo].[Personas] ON 

INSERT [dbo].[Personas] ([Cedula], [Id], [Nombre], [Direccion], [IdCliente]) VALUES (N'504250370       ', 2, N'Josue Rojas Vega                                                ', N'Fortuna de Bagaces                                                                                                              ', 1)
INSERT [dbo].[Personas] ([Cedula], [Id], [Nombre], [Direccion], [IdCliente]) VALUES (N'502560091       ', 3, N'Roberto Rojas                                                   ', N'No hay descripcion                                                                                                              ', 3)
SET IDENTITY_INSERT [dbo].[Personas] OFF
GO
SET IDENTITY_INSERT [dbo].[Proveedores] ON 

INSERT [dbo].[Proveedores] ([Id], [Nombre], [Direccion], [Ciudad], [NombreContacto], [Codigo]) VALUES (1, N'Auto Repuestos Jim�nez          ', N'Pavas                                                                                                                           ', N'San Jos�                        ', N'Sergio Mancilla Alfonso         ', N'1                               ')
INSERT [dbo].[Proveedores] ([Id], [Nombre], [Direccion], [Ciudad], [NombreContacto], [Codigo]) VALUES (2, N'Repuestos Z��iga                ', N'700 m N peaje                                                                                                                   ', N'Naranjo                         ', N'Ruben Mir Mestres               ', N'11                              ')
INSERT [dbo].[Proveedores] ([Id], [Nombre], [Direccion], [Ciudad], [NombreContacto], [Codigo]) VALUES (3, N'J y A Autopartes                ', N'Plaza Ferias                                                                                                                    ', N'Alajuela                        ', N'Marina Paez Melgarejo           ', N'21                              ')
SET IDENTITY_INSERT [dbo].[Proveedores] OFF
GO
SET IDENTITY_INSERT [dbo].[ProveedorPartes] ON 

INSERT [dbo].[ProveedorPartes] ([Id], [IdParte], [IdProveedor], [Precio], [PorcentajeGanancia], [PrecioFinal]) VALUES (5, 3, 1, CAST(10000.00 AS Decimal(9, 2)), CAST(0.50 AS Decimal(9, 2)), CAST(15000.00 AS Decimal(9, 2)))
INSERT [dbo].[ProveedorPartes] ([Id], [IdParte], [IdProveedor], [Precio], [PorcentajeGanancia], [PrecioFinal]) VALUES (6, 3, 3, CAST(1122.00 AS Decimal(9, 2)), CAST(0.70 AS Decimal(9, 2)), CAST(1129.85 AS Decimal(9, 2)))
INSERT [dbo].[ProveedorPartes] ([Id], [IdParte], [IdProveedor], [Precio], [PorcentajeGanancia], [PrecioFinal]) VALUES (10, 5, 6, CAST(12222.00 AS Decimal(9, 2)), CAST(123.00 AS Decimal(9, 2)), CAST(27255.06 AS Decimal(9, 2)))
SET IDENTITY_INSERT [dbo].[ProveedorPartes] OFF
GO
ALTER TABLE [dbo].[Proveedores] ADD  CONSTRAINT [DF_Proveedores_Codigo]  DEFAULT (N'') FOR [Codigo]
GO
ALTER TABLE [dbo].[ClienteTelefonos]  WITH CHECK ADD  CONSTRAINT [FkClienteTelefonos_IdCliente] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Clientes] ([Id])
GO
ALTER TABLE [dbo].[ClienteTelefonos] CHECK CONSTRAINT [FkClienteTelefonos_IdCliente]
GO
ALTER TABLE [dbo].[OrdenDetalles]  WITH CHECK ADD  CONSTRAINT [FkDetalleOrden_IdOrden] FOREIGN KEY([IdOrden])
REFERENCES [dbo].[Ordenes] ([Id])
GO
ALTER TABLE [dbo].[OrdenDetalles] CHECK CONSTRAINT [FkDetalleOrden_IdOrden]
GO
ALTER TABLE [dbo].[OrdenDetalles]  WITH CHECK ADD  CONSTRAINT [FkOrdenDetalles_IdProveedorParte] FOREIGN KEY([IdProveedorParte])
REFERENCES [dbo].[ProveedorPartes] ([Id])
GO
ALTER TABLE [dbo].[OrdenDetalles] CHECK CONSTRAINT [FkOrdenDetalles_IdProveedorParte]
GO
ALTER TABLE [dbo].[Ordenes]  WITH CHECK ADD  CONSTRAINT [FkOrdenes_IdCliente] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Clientes] ([Id])
GO
ALTER TABLE [dbo].[Ordenes] CHECK CONSTRAINT [FkOrdenes_IdCliente]
GO
ALTER TABLE [dbo].[OrganizacionContactos]  WITH CHECK ADD  CONSTRAINT [FkContactos_IdOrganizacion] FOREIGN KEY([IdOrganizacion])
REFERENCES [dbo].[Organizaciones] ([Id])
GO
ALTER TABLE [dbo].[OrganizacionContactos] CHECK CONSTRAINT [FkContactos_IdOrganizacion]
GO
ALTER TABLE [dbo].[Organizaciones]  WITH CHECK ADD  CONSTRAINT [FkOrganizaciones_IdCliente] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Clientes] ([Id])
GO
ALTER TABLE [dbo].[Organizaciones] CHECK CONSTRAINT [FkOrganizaciones_IdCliente]
GO
ALTER TABLE [dbo].[Partes]  WITH CHECK ADD  CONSTRAINT [FkPartes_IdAutomovil] FOREIGN KEY([IdAutomovil])
REFERENCES [dbo].[Automoviles] ([Id])
GO
ALTER TABLE [dbo].[Partes] CHECK CONSTRAINT [FkPartes_IdAutomovil]
GO
ALTER TABLE [dbo].[Personas]  WITH CHECK ADD  CONSTRAINT [FK_Clientes_IdCliente] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Clientes] ([Id])
GO
ALTER TABLE [dbo].[Personas] CHECK CONSTRAINT [FK_Clientes_IdCliente]
GO
ALTER TABLE [dbo].[ProveedorPartes]  WITH CHECK ADD  CONSTRAINT [FK_ProveedorPartes_IdParte] FOREIGN KEY([IdParte])
REFERENCES [dbo].[Partes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProveedorPartes] CHECK CONSTRAINT [FK_ProveedorPartes_IdParte]
GO
ALTER TABLE [dbo].[ProveedorPartes]  WITH CHECK ADD  CONSTRAINT [FK_ProveedorPartes_IdProveedor] FOREIGN KEY([IdProveedor])
REFERENCES [dbo].[Proveedores] ([Id])
GO
ALTER TABLE [dbo].[ProveedorPartes] CHECK CONSTRAINT [FK_ProveedorPartes_IdProveedor]
GO
ALTER TABLE [dbo].[ProveedorTelefonos]  WITH CHECK ADD  CONSTRAINT [FkProveedores_IdTelefono] FOREIGN KEY([IdProveedor])
REFERENCES [dbo].[Proveedores] ([Id])
GO
ALTER TABLE [dbo].[ProveedorTelefonos] CHECK CONSTRAINT [FkProveedores_IdTelefono]
GO
/****** Object:  StoredProcedure [dbo].[CreateOrden]    Script Date: 4/6/2020 01:21:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateOrden]
	@TipoCliente int,
	@CedulaCliente nchar(16), 
	@FechaEmitida datetime = N'',
	@MontoVenta decimal(9,2) = 0,
	@MontoIva decimal(9,2) = 0,
	@MontoCobrado decimal (9,2) = 0,
	@RespuestaOperacion int OUTPUT
AS
BEGIN
	/*
		POSIBLES RESPUESTAS
		0  = caso exitoso
		-1 = cliente no existente
		-2 = fecha invalida
	*/

	SET @RespuestaOperacion = 0;

	-- obtenemos el id cliente

	DECLARE @IdCliente int;
	SET @IdCliente = 0;

	IF (@TipoCliente = 0)
	BEGIN
		IF NOT EXISTS (
			SELECT P.Id
			FROM Personas as P 
			WHERE P.Cedula = @CedulaCliente
		)
			BEGIN
				SET @RespuestaOperacion = -1;
			END
		ELSE
		BEGIN
			SET @IdCliente = (
				SELECT P.IdCliente
				FROM Personas as P 
				WHERE P.Cedula = @CedulaCliente
			);
		END
	END
	ELSE 
	BEGIN 
		IF NOT EXISTS (
			SELECT O.Id
			FROM Organizaciones as O
			WHERE O.CedulaJuridica = @CedulaCliente
		)
			BEGIN
				SET @RespuestaOperacion = -1;
			END
		ELSE
		BEGIN
			SET @IdCliente = (
				SELECT o.IdCliente
				FROM Organizaciones as o
				WHERE o.CedulaJuridica = @CedulaCliente
			);
		END
	END

	IF (@FechaEmitida = N'')
	BEGIN
		SET @RespuestaOperacion = -2;
	END

	-- procedemos a agregar la nueva orden
	IF (@RespuestaOperacion = 0 AND @IdCliente != 0)
	BEGIN
		
		declare @consecutivo int;
		set @consecutivo = IsNull((Select MAX(O.NumeroConsecutivo) FROM Ordenes O),0) + 1;

		INSERT 
		INTO Ordenes(
			FechaEmitida, 
			MontoVenta, 
			MontoIva, 
			MontoCobrado,
			IdCliente, NumeroConsecutivo)
		VALUES (
			@FechaEmitida, 
			@MontoVenta,
			@MontoIva,
			@MontoCobrado,
			@IdCliente,
			@consecutivo
		);

		SET @RespuestaOperacion = @@IDENTITY;

	END

	SELECT @RespuestaOperacion;
END
GO
/****** Object:  StoredProcedure [dbo].[CreateOrdenDetalle]    Script Date: 4/6/2020 01:21:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Asociar a una orden la compra 
-- de una cantidad de partes obtenidas 
-- de cierto proveedor.

CREATE PROCEDURE [dbo].[CreateOrdenDetalle]
	@IdOrden int, 
	@IdProveedorParte int,
	@Cantidad int, 
	@MontoVenta decimal(9,2),
	@PrecioCobrado decimal(9,2),
	@RespuestaOperacion int OUTPUT
AS
BEGIN
	
	/*
		POSIBLES RESPUESTAS:
		0  = caso exitoso
		-1 = orden no existente, 
		-2 = proveedor no existente
	*/
	SET @RespuestaOperacion = 0;

	IF NOT EXISTS 
		(SELECT O.Id FROM Ordenes O WHERE O.Id = @IdOrden)
	BEGIN
		SET @RespuestaOperacion = -1;
	END
	ELSE IF NOT EXISTS 
		(SELECT Pp.Id FROM ProveedorPartes Pp WHERE Pp.Id = @IdProveedorParte)
	BEGIN
		SET @RespuestaOperacion = -2;
	END
	ELSE
	BEGIN 
		
		INSERT INTO OrdenDetalles(
			IdOrden, 
			IdProveedorParte,
			Cantidad,
			PrecioCobrado,
			MontoVenta
		) VALUES (
			@IdOrden,
			@IdProveedorParte,
			@Cantidad,
			@PrecioCobrado,
			@MontoVenta
		);
		
	END

	SELECT @RespuestaOperacion;
END
GO
/****** Object:  StoredProcedure [dbo].[CreateOrganizacion]    Script Date: 4/6/2020 01:21:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CreateOrganizacion]
	-- Add the parameters for the stored procedure here
	@CedulaJuridica nchar(32),
	@Nombre nchar(128),
	@Direccion nchar(256),
	@Ciudad nchar(64),
	@Numero nchar(24),
	@NombreContacto nchar(128),
	@CargoContacto nchar(64),
	@Estado nchar(10),
	@RespuestaOperacion int = 0 OUTPUT
AS
BEGIN
/*INSERT INTO Clientes(Estado)
VALUES ('ACTIVO')

INSERT INTO Organizaciones(IdCliente,CedulaJuridica,Ciudad,Direccion,Nombre)
VALUES (IDENT_CURRENT('Clientes'), '3002078494', 'Matina','2km este, 1km sur, Finca Probana','ASEPROBA')

INSERT INTO OrganizacionContactos(IdOrganizacion,Nombre,Cargo)
VALUES(IDENT_CURRENT('Organizaciones'),'Yessenia CE', 'Oficinista')*/
	/*
	Insertar nuevas personas 
	(además de los datos de la persona, se 
	incluye el numero del telefono)
	*/

	/*
	POSIBLES RESPUESTAS
	 0 = caso exitoso
	-1 = cedulaJuridica invalida
	-2 = nombre invalida
	-3 = Direccion invalido
	-4 = Ciudad  invalida
	-5 = Numero invalido
	-6 = NombreContacto invalido
	-7 = Cargo de Contacto invalido
	-8 = Estado invalido
	-9 = Organizacion ya existe
	*/

	SET @RespuestaOperacion = 0;

	-- validaciones de parametros
	IF (@CedulaJuridica = '')
	BEGIN
		SET @RespuestaOperacion = -1;
	END

	IF (@Nombre = '')
	BEGIN
		SET @RespuestaOperacion = -2;
	END

	IF (@Direccion = '')
	BEGIN
		SET @RespuestaOperacion = -3;
	END

	IF(@Ciudad = '')
	BEGIN
		SET @RespuestaOperacion = -4
	END

	IF (@Numero = '')
	BEGIN
		SET @RespuestaOperacion = -5;
	END

	IF(@NombreContacto = '')
	BEGIN
		SET @RespuestaOperacion = -6
	END

	IF(@CargoContacto = '')
	BEGIN
		SET @RespuestaOperacion = -7
	END

	IF NOT(@Estado = 'ACTIVO' or @Estado = 'INACTIVO' or @Estado = 'SUSPENDIDO')
	BEGIN
		SET @RespuestaOperacion = -8;
	END

	IF EXISTS (
		SELECT org.CedulaJuridica, org.Nombre, org.Direccion, org.Ciudad
		FROM Organizaciones org
		WHERE org.CedulaJuridica=@CedulaJuridica and  org.Nombre=@Nombre and 
		org.Direccion=@Direccion and org.Ciudad=@Ciudad
	)
		BEGIN
			SET @RespuestaOperacion = -9;
		END
	ELSE
		BEGIN
		INSERT INTO Clientes(Estado) VALUES(@Estado)

		INSERT INTO Organizaciones(
			IdCliente, CedulaJuridica, Nombre, Direccion, Ciudad
		) VALUES(
			IDENT_CURRENT('Clientes'), @CedulaJuridica, @Nombre, @Direccion, @Ciudad
		);
		INSERT INTO OrganizacionContactos(IdOrganizacion, Nombre, Cargo)
		VALUES (IDENT_CURRENT('Organizaciones'), @NombreContacto, @CargoContacto);

		INSERT INTO ClienteTelefonos(IdCliente, Numero)
		VALUES (IDENT_CURRENT('Clientes'), @Numero)

		END
	SELECT @RespuestaOperacion
END
GO
/****** Object:  StoredProcedure [dbo].[CreateParte]    Script Date: 4/6/2020 01:21:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CreateParte]
	@Nombre nchar(32) = '',
	@Marca nchar(32) = '',
	@NombreFabricante nchar(32) = '',
	@IdAutomovil int = 0,
	@RespuestaOperacion int = 0 OUTPUT
AS
BEGIN
	
	/*
	Insertar nuevas partes 
	(además de los datos de parte, se 
	incluye la marca y el fabricante, 
	pero no proveedores)
	*/

	/*
	POSIBLES RESPUESTAS
	 0 = caso exitoso
	-1 = nombre invalido
	-2 = marca invalida
	-3 = nombreFabricante invalido
	-4 = automovil no existente
	*/

	SET @RespuestaOperacion = 0;

	-- validaciones de parametros
	IF (@Nombre = '')
	BEGIN
		SET @RespuestaOperacion = -1;
	END

	IF (@Marca = '')
	BEGIN
		SET @RespuestaOperacion = -2;
	END

	IF (@NombreFabricante = '')
	BEGIN
		SET @RespuestaOperacion = -3;
	END

	IF (@IdAutomovil != 0)
		BEGIN
		IF NOT EXISTS (
			SELECT A.Id FROM Automovil A WHERE A.Id = @IdAutomovil
		)
			BEGIN
				SET @RespuestaOperacion = -4;
			END
		END

	IF (@RespuestaOperacion = 0)
		BEGIN
		
		IF (@IdAutomovil != 0)
			INSERT INTO Partes(
				Nombre, Marca, NombreFabricante, IdAutomovil
			) VALUES(
				@Nombre, @Marca, @NombreFabricante, @IdAutomovil
			);
		ELSE
			INSERT INTO Partes(
				Nombre, Marca, NombreFabricante, IdAutomovil
			) VALUES(
				@Nombre, @Marca, @NombreFabricante, Null
			);

		END

	SELECT @RespuestaOperacion;
END
GO
/****** Object:  StoredProcedure [dbo].[CreatePersona]    Script Date: 4/6/2020 01:21:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CreatePersona]
	-- Add the parameters for the stored procedure here
	@Cedula nchar(32),
	@Nombre nchar(128),
	@Direccion nchar(256),
	@Numero nchar(24),
	@Estado nchar(10),
	@RespuestaOperacion int = 0 OUTPUT
AS
BEGIN
/*SELECT IDENT_CURRENT('Clientes')

Insert  INTO Personas(IdCliente, Cedula, Direccion, Nombre)
VALUES( IDENT_CURRENT('Clientes'), '702820758', 'Bataan, Matina, Limon', 'Andrew J Gutierrez Castro')

INSERT INTO ClienteTelefonos(IdCliente, Numero)
VALUES (IDENT_CURRENT('Clientes'), '84423996')*/
	/*
	Insertar nuevas personas 
	(además de los datos de la persona, se 
	incluye el numero del telefono)
	*/

	/*
	POSIBLES RESPUESTAS
	 0 = caso exitoso
	-1 = cedula invalida
	-2 = nombre invalida
	-3 = Direccion invalido
	-4 = Numero no invalido
	-5 = Estado invalido
	-6 = Persona ya existe
	*/

	SET @RespuestaOperacion = 0;

	-- validaciones de parametros
	IF (@Cedula = '')
	BEGIN
		SET @RespuestaOperacion = -1;
	END

	IF (@Nombre = '')
	BEGIN
		SET @RespuestaOperacion = -2;
	END

	IF (@Direccion = '')
	BEGIN
		SET @RespuestaOperacion = -3;
	END

	IF (@Numero = '')
	BEGIN
		SET @RespuestaOperacion = -4;
	END

	IF NOT(@Estado = 'ACTIVO' or @Estado = 'INACTIVO' or @Estado = 'SUSPENDIDO')
	BEGIN
		SET @RespuestaOperacion = -5;
	END

	IF EXISTS (
		SELECT p.Cedula, p.Nombre, p.Direccion
		FROM Personas p 
		WHERE p.Cedula=@Cedula and p.Nombre=@Nombre and p.Direccion=@Direccion
	)
		BEGIN
			SET @RespuestaOperacion = -6;
		END
	ELSE
		BEGIN
		INSERT INTO Clientes(Estado) VALUES(@Estado)

		INSERT INTO Personas(
			IdCliente, Cedula, Nombre, Direccion
		) VALUES(
			IDENT_CURRENT('Clientes'), @Cedula, @Nombre, @Direccion
		);
		INSERT INTO ClienteTelefonos(IdCliente, Numero)
		VALUES (IDENT_CURRENT('Clientes'), @Numero)

		END
	SELECT @RespuestaOperacion
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteParte]    Script Date: 4/6/2020 01:21:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DeleteParte]
	@IdParte int = 0,
	@RespuestaOperacion int = 0 OUTPUT
AS
BEGIN
/*
	Borrar una parte 
	(no borrar si participa en una orden)
*/
 
/*
	POSIBLES RESPUESTAS
	 0 = caso exitoso
	-1 = parte no existente
	-2 = participa en una orden
*/

SET @RespuestaOperacion = 0;

-- validacion de parte existente
IF NOT EXISTS ( SELECT P.Id FROM Partes P WHERE P.Id = @IdParte)
BEGIN
	SET @RespuestaOperacion = -1;
END
ELSE
	BEGIN
	IF NOT EXISTS ( 
		SELECT P.Id 
		FROM Partes P, ProveedorPartes Pp, OrdenDetalles Od
		WHERE P.Id = Pp.IdParte AND Pp.Id = Od.IdProveedorParte
		)
	BEGIN
		DELETE FROM Partes 
			WHERE Partes.Id = @IdParte;
	END
	ELSE 
	BEGIN
		SET @RespuestaOperacion = -2;
	END
END

SELECT @RespuestaOperacion;
END
GO
/****** Object:  StoredProcedure [dbo].[LinkParteProveedor]    Script Date: 4/6/2020 01:21:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LinkParteProveedor]
	@IdParte int,
	@IdProveedor int, 
	@Precio decimal(9,2),
	@PorcentajeGanancia decimal(9,2),
	@PrecioFinal decimal(9,2),
	@RespuestaOperacion int OUTPUT
AS
BEGIN
/*
	POSIBLES RESPUESTAS
	 0 = caso exitoso
	-1 = parte no existente
	-2 = proveedor no existente
	-3 = parte y proveedor no existente
*/

SET @RespuestaOperacion = 0;
DECLARE @Bandera int = 0;

-- validacion de parte existente
IF NOT EXISTS ( SELECT P.Id FROM Partes P WHERE P.Id = @IdParte)
BEGIN
	SET @RespuestaOperacion = -1;
	SET @Bandera = 1;
END

IF NOT EXISTS ( SELECT P.Id FROM Proveedores P WHERE P.Id = @IdProveedor) 
BEGIN
	IF (@Bandera = 1)
	BEGIN
		SET @RespuestaOperacion = -3;
	END
	ELSE
	BEGIN
		SET @RespuestaOperacion = -2;
	END
END

IF (@RespuestaOperacion = 0) 
BEGIN
	
	INSERT INTO ProveedorPartes(
		IdParte,
		IdProveedor, 
		Precio,
		PorcentajeGanancia,
		PrecioFinal)
	VALUES (
		@IdParte, 
		@IdProveedor,
		@Precio,
		@PorcentajeGanancia,
		@PrecioFinal
	)
END

SELECT @RespuestaOperacion;
END
GO
/****** Object:  StoredProcedure [dbo].[LinkParteTipoAutomovil]    Script Date: 4/6/2020 01:21:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LinkParteTipoAutomovil]
	@IdParte int,
	@IdAutomovil int, 
	@RespuestaOperacion int OUTPUT
AS
BEGIN
/*
	POSIBLES RESPUESTAS
	 0 = caso exitoso
	-1 = parte no existente
	-2 = automovil no existente
	-3 = parte y automovil no existente
*/

SET @RespuestaOperacion = 0;
DECLARE @Bandera int = 0;

-- validacion de parte existente
IF NOT EXISTS ( SELECT P.Id FROM Partes P WHERE P.Id = @IdParte)
BEGIN
	SET @RespuestaOperacion = -1;
	SET @Bandera = 1;
END

IF NOT EXISTS ( SELECT A.Id FROM Automovil A WHERE A.Id = @IdAutomovil) 
BEGIN
	IF (@Bandera = 1)
	BEGIN
		SET @RespuestaOperacion = -3;
	END
	ELSE
	BEGIN
		SET @RespuestaOperacion = -2;
	END
END

IF (@RespuestaOperacion = 0) 
BEGIN
	UPDATE Partes SET IdAutomovil = @IdAutomovil WHERE Partes.Id = @IdParte;
END

SELECT @RespuestaOperacion;
END

GO
/****** Object:  StoredProcedure [dbo].[Read_Fabricantes_Data]    Script Date: 4/6/2020 01:21:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Read_Fabricantes_Data]
AS
BEGIN

SELECT * from DATA_FABRICANTES;
END
GO
/****** Object:  StoredProcedure [dbo].[Read_FabricantesPartes_Data]    Script Date: 4/6/2020 01:21:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Read_FabricantesPartes_Data]
AS
BEGIN

SELECT * from DATA_FABRICANTES_Partes;
END
GO
/****** Object:  StoredProcedure [dbo].[Read_MarcasPartes_Data]    Script Date: 4/6/2020 01:21:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Read_MarcasPartes_Data]
AS
BEGIN

SELECT * from DATA_MARCAS_PARTES;
END
GO
/****** Object:  StoredProcedure [dbo].[Read_Proveedores_Data]    Script Date: 4/6/2020 01:21:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Read_Proveedores_Data]
AS
BEGIN

SELECT * from DATA_PROVEEDORES;
END
GO
/****** Object:  StoredProcedure [dbo].[Read_TiposAutomoviles_Data]    Script Date: 4/6/2020 01:21:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Read_TiposAutomoviles_Data]
AS
BEGIN

SELECT * from Data_Tipos_Automoviles;
END
GO
/****** Object:  StoredProcedure [dbo].[ReadAutomoviles]    Script Date: 4/6/2020 01:21:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[ReadAutomoviles]
as
begin
	
	select * from Automoviles;

end

GO
/****** Object:  StoredProcedure [dbo].[ReadOrdenes]    Script Date: 4/6/2020 01:21:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[ReadOrdenes] 
	@TipoCliente int
AS
BEGIN
	
	IF (@TipoCliente = 1)
		SELECT 
			O.Id, 
			O.NumeroConsecutivo, 
			O.FechaEmitida,
			P.Cedula, N'' as 'Cedula',
			P.Nombre, N'' as 'Nombre', 
			O.MontoVenta, 
			O.MontoIva, 
			O.MontoCobrado
		FROM 
			Ordenes O, Clientes C, Personas P
		WHERE 
			P.IdCliente = O.IdCliente AND C.Id = P.IdCliente;
	ELSE 

		SELECT 
			O.Id, 
			O.NumeroConsecutivo, 
			O.FechaEmitida,
			Org.CedulaJuridica, N'' as 'Cedula',
			Org.Nombre, N'' as 'Nombre', 
			O.MontoVenta, 
			O.MontoIva, 
			O.MontoCobrado
		FROM 
			Ordenes O, Organizaciones Org, Clientes C
		WHERE 
			Org.Id = O.IdCliente AND O.IdCliente = C.Id;

END
GO
/****** Object:  StoredProcedure [dbo].[ReadPartes]    Script Date: 4/6/2020 01:21:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[ReadPartes]
as
begin
	SELECT P.Id, P.Nombre, P.Marca, P.NombreFabricante
	from Partes P;
end
GO
/****** Object:  StoredProcedure [dbo].[ReadPartesPorAutomovil]    Script Date: 4/6/2020 01:21:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ReadPartesPorAutomovil]
	-- Add the parameters for the stored procedure here
	@Modelo nchar(64) = '', 
	@Anno nchar(4) = '',
	@RespuestaOperacion int = 0 OUTPUT
AS
BEGIN
	
-- Listar partes por tipos de automóviles: 
-- dado modelo y año de manufactura, obtener los datos de
-- las partes que corresponden.

	/*
		POSIBLES RESPUESTAS
		0  = caso exitoso
		-1 = modelo invalido,
		-2 = anno invalido
	*/
	SET @RespuestaOperacion = 0;

	IF (@Modelo = N'')
	BEGIN 
		RETURN -1;
	END
	ELSE IF (@Anno = N'')
	BEGIN 
		SET @RespuestaOperacion = -2;
	END

	IF (@RespuestaOperacion = 0)
	BEGIN
		SELECT P.Nombre as NombreParte, P.Marca, P.NombreFabricante as NombreFabricanteParte, A.NombreFabricante, Pro.Nombre as NombreProveedor
		FROM Partes as P, Automoviles as A, ProveedorPartes as ProP, Proveedores as Pro
		WHERE 
			A.Id = P.IdAutomovil AND
			Pro.Id = ProP.IdProveedor AND
			ProP.IdParte = P.Id AND
			A.Detalle = @Modelo AND
			A.Anno = @Anno;
	END

	SELECT @RespuestaOperacion
END
GO
/****** Object:  StoredProcedure [dbo].[ReadProveedores]    Script Date: 4/6/2020 01:21:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[ReadProveedores]
as begin

	select P.Id, P.Codigo, P.Nombre
	from Proveedores as P;


end
GO
/****** Object:  StoredProcedure [dbo].[ReadProveedoresPartes]    Script Date: 4/6/2020 01:21:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[ReadProveedoresPartes]
as begin

	select * from ViewProveedorPartes;

end
GO
/****** Object:  StoredProcedure [dbo].[ReadProveedoresPorParte]    Script Date: 4/6/2020 01:21:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ReadProveedoresPorParte]
@NombreParte nchar(32),
@RespuestaOperacion int OUTPUT
AS
BEGIN
	/*
		POSIBLES RESPUESTAS
		0  =  caso exitoso
		-1 = parte no existente
	*/

	SET @RespuestaOperacion = 0;
	IF NOT EXISTS ( SELECT P.Nombre FROM Partes as P WHERE
				P.Nombre = @NombreParte )
		BEGIN
			SET @RespuestaOperacion = -1;
		END
	ELSE
		BEGIN
			SELECT P.Nombre as 'Nombre', P.Codigo as 'Codigo'
			FROM Proveedores P, ProveedorPartes Pp, Partes pa
			WHERE Pp.IdProveedor = P.Id AND Pa.Nombre = @NombreParte and
			PA.Id = pp.IdParte
		END

	SELECT @RespuestaOperacion
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateEstadoCliente]    Script Date: 4/6/2020 01:21:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateEstadoCliente] 

	@Cedula nchar(16), --Puede ser juridica o cedula de persona fisica/
	@Estado nchar(10),
	@RespuestaOperacion int = 0 OUTPUT
AS
BEGIN
	/*
	Cambiar el estado de un cliente ya existente
	*/

	/*
	POSIBLES RESPUESTAS
	 0 = caso exitoso
	-1 = Estado invalido
	-2 = cedula incorrecta o no existe
	*/
	DECLARE @idCliente as int;
	SET @idCliente = 0;
	SET @RespuestaOperacion = 0;
	--Validaciones de parametros--

	IF NOT(@Estado = 'ACTIVO' or @Estado = 'INACTIVO' or @Estado = 'SUSPENDIDO')
	BEGIN
		SET @RespuestaOperacion = -1;
	END
	IF EXISTS(
		Select IdCliente FROM Organizaciones as o WHERE o.CedulaJuridica = @Cedula)
	BEGIN
		SET @idCliente = (Select IdCliente FROM Organizaciones as o WHERE o.CedulaJuridica = @Cedula);
	END
	ELSE IF EXISTS(
		Select IdCliente FROM Personas as p WHERE p.Cedula = @Cedula)
	BEGIN
		SET @idCliente = (Select IdCliente FROM Personas as p WHERE p.Cedula = @Cedula);
	END
	ELSE
	BEGIN
		SET @RespuestaOperacion = -2
	END

	IF EXISTS(Select Id FROM Clientes as c WHERE c.Id = @idCliente and @RespuestaOperacion = 0)
		BEGIN
			UPDATE Clientes
			SET Estado = @Estado
			WHERE Id = @idCliente
		END
	SELECT @RespuestaOperacion;
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateEstadoOrganizacion]    Script Date: 4/6/2020 01:21:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UpdateEstadoOrganizacion]

	@Cedula nchar(16), 
	@Estado nchar(10),
	@RespuestaOperacion int = 0 OUTPUT
AS
BEGIN
	/*
	Cambiar el estado de un cliente ya existente
	*/

	/*
	POSIBLES RESPUESTAS
	 0 = caso exitoso
	-1 = Estado invalido
	-2 = cedula incorrecta o no existe
	*/
	DECLARE @idCliente as int;
	SET @idCliente = 0;
	SET @RespuestaOperacion = 0;
	--Validaciones de parametros--

	IF NOT(@Estado = 'ACTIVO' or @Estado = 'INACTIVO' or @Estado = 'SUSPENDIDO')
	BEGIN
		SET @RespuestaOperacion = -1;
	END
	IF EXISTS(
		Select IdCliente FROM Organizaciones as o WHERE o.CedulaJuridica = @Cedula)
	BEGIN
		SET @idCliente = (Select IdCliente FROM Organizaciones as o WHERE o.CedulaJuridica = @Cedula);
	END
	ELSE
	BEGIN
		SET @RespuestaOperacion = -2
	END

	IF EXISTS(Select Id FROM Clientes as c WHERE c.Id = @idCliente and @RespuestaOperacion = 0)
		BEGIN
			UPDATE Clientes
			SET Estado = @Estado
			WHERE Id = @idCliente
		END
	SELECT @RespuestaOperacion;
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateEstadoPersona]    Script Date: 4/6/2020 01:21:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[UpdateEstadoPersona] 

	@Cedula nchar(16), --Puede ser juridica o cedula de persona fisica/
	@Estado nchar(10),
	@RespuestaOperacion int = 0 OUTPUT
AS
BEGIN
	/*
	Cambiar el estado de un cliente ya existente
	*/

	/*
	POSIBLES RESPUESTAS
	 0 = caso exitoso
	-1 = Estado invalido
	-2 = cedula incorrecta o no existe
	*/
	DECLARE @idCliente as int;
	SET @idCliente = 0;
	SET @RespuestaOperacion = 0;
	--Validaciones de parametros--

	IF NOT(@Estado = 'ACTIVO' or @Estado = 'INACTIVO' or @Estado = 'SUSPENDIDO')
	BEGIN
		SET @RespuestaOperacion = -1;
	END
	IF EXISTS(
		Select IdCliente FROM Personas as p WHERE p.Cedula = @Cedula)
	BEGIN
		SET @idCliente = (Select IdCliente FROM Personas as p WHERE p.Cedula = @Cedula);
	END
	ELSE
	BEGIN
		SET @RespuestaOperacion = -2
	END

	IF EXISTS(Select Id FROM Clientes as c WHERE c.Id = @idCliente and @RespuestaOperacion = 0)
		BEGIN
			UPDATE Clientes
			SET Estado = @Estado
			WHERE Id = @idCliente
		END
	SELECT @RespuestaOperacion;
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateOrganizacion]    Script Date: 4/6/2020 01:21:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UpdateOrganizacion]
	@CedulaJuridica nchar(32),
	@Nombre nchar(128),
	@Direccion nchar(256),
	@Ciudad nchar(64),
	@Numero nchar(24),
	@NombreContacto nchar(128),
	@CargoContacto nchar(64),
	@Estado nchar(10),
	@RespuestaOperacion int = 0 OUTPUT
AS
BEGIN

	/*
	Modificar una organizacion, todos sus atributos
	*/

	/*
	POSIBLES RESPUESTAS
	 0 = caso exitoso
	-1 = Organizacion no existe
	*/
	SET @RespuestaOperacion = 0;

	-- validaciones de parametros
	IF NOT EXISTS (
		SELECT c.Id 
		FROM Clientes c
		WHERE c.Id = (Select Id FROM Organizaciones as o WHERE o.CedulaJuridica = @CedulaJuridica)
	)
		BEGIN
			SET @RespuestaOperacion = -1;
		END

	ELSE
	BEGIN
		IF NOT(@Nombre = '')
		BEGIN
			UPDATE Organizaciones
			SET Nombre = @Nombre
			WHERE IdCliente = (Select Id FROM Organizaciones as o WHERE o.CedulaJuridica = @CedulaJuridica)
		END

		IF NOT(@Direccion = '')
		BEGIN
			UPDATE Organizaciones
			SET Direccion = @Direccion
			WHERE IdCliente = (Select Id FROM Organizaciones as o WHERE o.CedulaJuridica = @CedulaJuridica)
		END

		IF NOT(@Ciudad = '')
		BEGIN
			UPDATE Organizaciones
			SET Ciudad = @Ciudad
			WHERE IdCliente = (Select Id FROM Organizaciones as o WHERE o.CedulaJuridica = @CedulaJuridica)
		END

		IF NOT(@Numero = '' or LEN(@Numero) < 8)
		BEGIN
			UPDATE ClienteTelefonos
			SET Numero = @Numero
			WHERE IdCliente = (Select Id FROM Organizaciones as o WHERE o.CedulaJuridica = @CedulaJuridica)
		END

		IF NOT(@NombreContacto = '')
		BEGIN
			UPDATE OrganizacionContactos
			SET Nombre = @NombreContacto
			WHERE IdOrganizacion = (Select Id FROM Organizaciones as o WHERE o.CedulaJuridica = @CedulaJuridica)
		END

		IF NOT(@CargoContacto = '')
		BEGIN
			UPDATE OrganizacionContactos
			SET Cargo = @CargoContacto
			WHERE IdOrganizacion = (Select Id FROM Organizaciones as o WHERE o.CedulaJuridica = @CedulaJuridica)
		END

		IF(@Estado = 'ACTIVO' or @Estado = 'INACTIVO' or @Estado = 'SUSPENDIDO')
		BEGIN
			UPDATE Clientes
			SET Estado = @Estado
			WHERE Id = (Select Id FROM Organizaciones as o WHERE o.CedulaJuridica = @CedulaJuridica)
		END
	END
	SELECT @RespuestaOperacion
END
GO
/****** Object:  StoredProcedure [dbo].[UpdatePersona]    Script Date: 4/6/2020 01:21:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UpdatePersona]
	@Cedula nchar(32),
	@Nombre nchar(128),
	@Direccion nchar(256),
	@Numero nchar(24),
	@Estado nchar(10),
	@RespuestaOperacion int = 0 OUTPUT
AS
BEGIN
	/*
	Modificar personas, se puede modificar todos sus
	datos excepto la llave primaria
	*/

	/*
	POSIBLES RESPUESTAS
	 0 = caso exitoso
	-1 = Persona no existe
	*/

	SET @RespuestaOperacion = 0;
	
	-- validaciones de parametros
	IF NOT EXISTS (
		SELECT c.Id 
		FROM Clientes c
		WHERE c.Id = (Select Id FROM Personas as p WHERE p.Cedula = @Cedula)
	)
		BEGIN
			SET @RespuestaOperacion = -1;
		END
	ELSE
	BEGIN

		IF NOT(@Nombre = '')
		BEGIN
			UPDATE Personas
			SET Nombre = @Nombre
			WHERE IdCliente = (Select Id FROM Personas as p WHERE p.Cedula = @Cedula)
		END

		IF NOT(@Direccion = '')
		BEGIN
			UPDATE Personas
			SET Direccion = @Direccion
			WHERE IdCliente = (Select Id FROM Personas as p WHERE p.Cedula = @Cedula)
		END

		IF NOT(@Numero = '' or LEN(@Numero) < 8)
		BEGIN
			UPDATE ClienteTelefonos
			SET Numero = @Numero
			WHERE IdCliente = (Select Id FROM Personas as p WHERE p.Cedula = @Cedula)
		END

		IF (@Estado = 'ACTIVO' or @Estado = 'INACTIVO' or @Estado = 'SUSPENDIDO')
		BEGIN
			UPDATE Clientes
			SET Estado = @Estado
			WHERE Id = (Select Id FROM Personas as p WHERE p.Cedula = @Cedula)
		END

	END
	
		
	SELECT @RespuestaOperacion
END

GO
/****** Object:  StoredProcedure [dbo].[UpdatePreciosParteProveedor]    Script Date: 4/6/2020 01:21:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdatePreciosParteProveedor]
	@IdProveedorParte int,
	@Precio decimal(9,2),
	@PorcentajeGanancia decimal(9,2),
	@PrecioFinal decimal(9,2),
	@ResultadoOperacion int OUTPUT	
AS
BEGIN
	-- Actualizar precios de una parte 	-- ofrecida por un proveedor.
	SET @ResultadoOperacion = 0;
	IF EXISTS ( SELECT Pp.Id FROM ProveedorPartes Pp WHERE Pp.Id = @IdProveedorParte )
	BEGIN

		UPDATE ProveedorPartes
		SET Precio = @Precio,
			PorcentajeGanancia = @PorcentajeGanancia,
			PrecioFinal = @PrecioFinal
		WHERE Id = @IdProveedorParte;

	END
	ELSE
	BEGIN
		SET @ResultadoOperacion = -1;
	END

	SELECT @ResultadoOperacion;
END
GO
/****** Object:  StoredProcedure [dbo].[UtilCargarData]    Script Date: 4/6/2020 01:21:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[UtilCargarData]
AS
BEGIN
	INSERT INTO Proveedores(Nombre, Direccion, Ciudad, NombreContacto)
	SELECT D.nombre, D.direccion, D.ciudad, D.contacto FROM DATA_Proveedores D;

	INSERT INTO Automoviles(Detalle, Anno, NombreFabricante)
	SELECT D.detalle, D.a_o, D.fabricante FROM Data_Tipos_Automoviles D;
END
GO
/****** Object:  Trigger [dbo].[CalcularPrecioFinal]    Script Date: 4/6/2020 01:21:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[CalcularPrecioFinal]
ON [dbo].[ProveedorPartes] 
AFTER INSERT
AS
BEGIN
	UPDATE ProveedorPartes 
	SET PrecioFinal = Precio + Precio*PorcentajeGanancia
	WHERE Id = @@IDENTITY;
END
GO
ALTER TABLE [dbo].[ProveedorPartes] ENABLE TRIGGER [CalcularPrecioFinal]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[34] 2[7] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "P"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 226
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "A"
            Begin Extent = 
               Top = 6
               Left = 264
               Bottom = 136
               Right = 452
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewPartes'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewPartes'
GO
USE [master]
GO
